@import '_h5bp';
@import 'components/components';
@import 'components/fonts';

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
}
p {
  padding: 0;
  margin: 0 0 18px;
  font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
td, tr {
  padding: 0;
  margin: 0;
}

ul li::before {
  display: none;
}

input, button, textarea {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 300;
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  overflow-y: scroll;
  background-color: #ecf2f5;
  background-image: url(../images/bg/body.png);
  background-repeat: repeat-x;
  background-position: 0 0;
  -webkit-transition: -webkit-transform .3s ease-out;
          transition:         transform .3s ease-out;  
}

body.open {
  overflow: hidden;
}

header {
  width: 1040px;
  margin: 0 auto;
  padding: 0 24px;
  background-color: #fff;
}
.header-top {
  width: 1040px;
  margin: 0 -24px 0 -24px;
  height: 33px;
  padding: 5px 0;
  border: 1px solid #b3c5d2;
  border-top: 0;
  background-color: #e8eff3;
  background: -webkit-linear-gradient(#feffff, #d1dee7);
  background: -o-linear-gradient(#feffff, #d1dee7);
  background: linear-gradient(#feffff, #d1dee7);
  form {
    @extend .clearfix;
    float: left;
    width: 510px;
    margin: 0 10px 0 25px;
    display: inline-block;
    padding: 0 10px 0 200px;
    height: 23px;
    background-image: url(../images/bg/squre-border.png);
    background-repeat: repeat-y;
    background-position: left;
    text-align: right;
    overflow: hidden;
    input {
      display: inline-block;
      height: 23px;
      float: left;
      outline: none;
    }
    input[type=text] {
      border-radius: 10px;
      border: 1px solid #ccd7e0;
      background-color: #fff;
      background-image: url(../images/icons/ico-zoom.png);
      background-repeat: no-repeat;
      background-position: 10px center;
      padding: 10px 80px 10px 35px;
      font-size: 12px;
      font-style: italic;
      color: #97a4ae;
      width: 300px;
    }
    input[type=submit] {
      color: #606c74;
      font-size: 14px;
      padding: 0 17px;
      font-weight: bold;
      text-shadow: 0px 1px 0px rgb( 244, 248, 250 );
      border: 0;
      border-radius: 10px;
      margin-left: -80px;
      background-color: #e8eff3;
      background: -webkit-linear-gradient(#feffff, #d1dee7);
      background: -o-linear-gradient(#feffff, #d1dee7);
      background: linear-gradient(#feffff, #d1dee7);
      transition: all 0.5s; 
      &:hover {
        background-color: #e6edf2;
        background: -webkit-linear-gradient(#d1dee7, #fcfdfd);
        background: -o-linear-gradient(#d1dee7, #fcfdfd);
        background: linear-gradient(#d1dee7, #fcfdfd);
      }
    }
  }
  ul {
    display: inline-block;
    float: right;
    width: 465px;
    height: 23px;
    padding: 0 0 0 15px;
    margin: 0 25px 0 0;
    background-image: url(../images/bg/squre-border.png);
    background-repeat: repeat-y;
    background-position: left;
    position: relative;
    top: -2px;
    li {
      display: inline-block;
      padding: 0 16px 0 30px;
      float: left;
      width: 135px;
      height: 23px;
      font-size: 13px;
      font-weight: 500;
      list-style: none;
      background-repeat: no-repeat;
      background-position: 5px center;
      a {
        color: #016bbd;
        margin: 0 15px 0 0;
        position: relative;
        top: -5px;
        transition: all 0.3s;
      }
      &:hover {
        a {
          color: #666666;          
        }
      }
      &:after {
        content: '';
        display: inline-block;
        background-image: url(../images/bg/squre-border.png);
        background-repeat: repeat-y;
        background-position: left;
        width: 2px;
        height: 23px;
      }
    }
    .list-1 {
      background-image: url(../images/icons/ico-about.png);
      &:hover {
        background-image: url(../images/icons/ico-about-hover.png);
      }
    }
    .list-2 {
      background-image: url(../images/icons/ico-contact.png);
      &:hover {
        background-image: url(../images/icons/ico-contact-hover.png);
      }
    }
    .list-3 {
      width: 170px;
      padding: 0 0 0 35px;
      background-image: url(../images/icons/ico-delivery.png);
      a {
        top: -1px;
      }
      &:hover {
        background-image: url(../images/icons/ico-delivery-hover.png);
      }
      &:after {
        display: none;
      }
    }
    &:after {
      content: '';
      display: inline-block;
      background-image: url(../images/bg/squre-border.png);
      background-repeat: repeat-y;
      background-position: left;
      width: 2px;
      height: 23px;
    }
  }
}
.header-main {
  padding: 24px 0;
  height: 130px;
  @extend .clearfix;
  .logogblock {
    width: 220px;
    height: 100%;
    display: inline-block;
    float: left;
  }
  .logo {
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    color: #009fcb;
    text-transform: uppercase;
    span {
      color: #c4188a;
    }
  }
  .description {
    display: block;
    background-color: #e4ecf1;
    text-shadow: 0.5px 0.866px 0px rgb( 244, 248, 250 );
    padding: 3px 0;
    border-radius: 8px;
    font-size: 13px;
    color: #616d75;
    text-align: center;
  }
  .changecity {
    display: inline-block;
    width: 200px;
    padding: 15px 0 0 40px;
    height: 100%;
    float: left;
    text-align: left;
    background-image: url(../images/icons/ico-marker.png);
    background-repeat: no-repeat;
    background-position: 8px center;
    font-size: 13px;
    font-weight: 500;
    color: #788289;
    ul {
      color: #026cbd;
      line-height: 1;
      li {
        margin: 0;
        padding: 0;
      }
      a {
        color: #026cbd;
        text-decoration: none;
        border-bottom: 1px dotted #026cbd;
      }
    }
  }
  .phone {
    width: 210px;
    height: 100%;
    display: inline-block;
    float: left;
    padding: 30px 5px 0 0;
    text-align: center;
    text-decoration: none;
    color: #333333;
    text-align: right;
    font-size: 20px;
    font-weight: 500;
    background-image: url(../images/icons/ico-phone.png);
    background-repeat: no-repeat;
    background-position: 0 center;
    span {
      color: #788289;
    }
  }
  .worktime {
    width: 180px;
    height: 100%;
    float: left;
    display: inline-block;
    background-image: url(../images/icons/ico-watch.png);
    background-repeat: no-repeat;
    background-position: 5px center;
    padding: 25px 0 0 40px;
    line-height: 1.2;
    span {
      display: block;
    }
  }
  .shopping-cart {
    width: 176px;
    height: 76px;
    border: 1px solid #ecf2f5;
    border-radius: 4px;
    display: inline-block;
    height: 100%;
    float: right;
    h6 {
      background-color: #c01384;
      background-image: url(../images/icons/ico-quart.png);
      background-repeat: no-repeat;
      background-position: 10px center;
      font-size: 14px;
      font-weight: bold;
      border-radius: 4px 4px 0 0;
      padding: 0 0 0 40px;
      text-shadow: 0px -1px 0px rgb( 130, 0, 74 );
      color: #fff;
    }
    table {
      width: 100%;
      height: 55px;
      overflow: hidden;
      td {
        padding: 0 0 0 10px;
        font-size: 12px;
        &:first-child {
        }
        &:last-child {
          padding-left: 0;
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }
}

.main-nav {
  width: 1040px;
  margin: 0 auto;
  background-color: #fff;
  ul {
    @extend .clearfix;
    width: 992px;
    height: 45px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 5px;
    background-color: #0085b9;
    background: -webkit-linear-gradient(#00b7d9, #0085b9);
    background: -o-linear-gradient(#00b7d9, #0085b9);
    background: linear-gradient(#00b7d9, #0085b9);
    border-radius: 4px;
    font-size: 0;

    text-align: center;
  }
  li {
    display: inline-block;
    text-transform: uppercase;
    padding: 20px 0;
    position: relative;
  }
  a{
    text-decoration: none;
    color: #fff;
    text-shadow: 0px -1px 0px rgb( 0, 73, 100 );
    font-size: 13px;
    font-weight: 500;
    padding: 3px 10px;
    border-right: 1px solid #00b5d8;
    border-left: 1px solid #0085b9;
    transition: all 0.5s;
  }
  li {
    &:first-child {
      a {
        border-left: 1px solid transparent;
      }
    }
    &:last-child {
      a {
        border-right: 1px solid transparent;
      }
    }
  }
  li:hover {
    &:before, &:after {
      display: block;
      content: '';
      width: 5px;
      height: 45px;
      position: absolute;
      top: 0;
      background-repeat: no-repeat;
    }
    &:before {
      left: 0;
      background-image: url(../images/bg/nav-shadow-left.png);
    }
    &:after {
      right: 0;
      background-image: url(../images/bg/nav-shadow-right.png);
    }
    a {
      border-color: transparent;
      color: #004474;
      text-shadow: 0px 1px 0px rgb( 0, 189, 220 );
    }
  }
}
main {
  width: 1040px;
  min-height: 100%;
  margin: 0 auto;
  padding: 10px 24px 50px;
  background-color: #fff;
}
.slide-box {
  width: 992px;
  border: 3px solid #e4ecf1;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  margin: 0 auto 20px;
  .slide-inner {
    width: 992px;
    border-radius: 4px;
    height: 266px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 4px;
    }
  }
  h6 {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #0093c3;
    font-size: 42px;
    font-weight: bold;
  }
  span {
    position: absolute;
    top: 70px;
    left: 30px;
    color: #333333;
    font-size: 20px;
    font-weight: bold;
  }
  p {
    width: 380px;
    color: #0093c3;
    font-size: 16px;
    position: absolute;
    left: 30px;
    top: 125px;
  }
  ul {
    position: absolute;
    top: 180px;
    width: 380px;
    left: 30px;
    li {
      color: #333333;
      margin: 0;
      padding: 0;
      font-size: 14px;
      list-style: square inside;
    }
  }
}
.block-title {
  color: #c01384;
  font-size: 28px;
  font-weight: 500; 
}
.featureimg-left {
  float: left;
  margin: 0 10px 10px 0;
}
.inside-five {
  font-size: 0;
  margin: 0 auto 20px;
  article {
    display: inline-block;
    width: 18%;
    height: 320px;
    margin: 0 1%;
    font-size: 14px;
    border: 1px solid #d4e0e8;
    border-radius: 8px;
    text-align: center;
    position: relative;
    -webkit-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow:    1px 2px 2px 0px rgba(0,0,0,0.75);
    box-shadow:         1px 2px 2px 0px rgba(0,0,0,0.75);
    img {
      width: 100%;
      height: 222px;
      border-radius: 8px 8px 0 0;
      margin: 0 0 10px;
    }
    a {
      font-size: 13px;
      color: #0066cc;
    }
    p {
      font-size: 11px;
    }
    .price {
      font-size: 21px;
      color: #c01384;
      position: absolute;
      bottom: 10px;
      left: 5px;
    }
    .buy {
      position: absolute;
      bottom: 5px;
      right: 5px;
      width: 39px;
      height: 27px;
      display: block;
      background-color: transparent;
      border: 0;
      background-image: url(../images/bg/buy-quick.png);
      &:hover {
        background-image: url(../images/bg/buy-quick-hover.png);
      }
      &:active {
        background-image: url(../images/bg/buy-quick-active.png);
      }
    }
    .status-sale, .status-new {
      display: block;
      width: 39px;
      height: 39px;
      background-repeat: no-repeat;
      position: absolute;
      top: 10px;
      left: 10px;
    }
    .status-sale {
      background-image: url(../images/icons/ico-sale.png);
    }
    .status-new {
      background-image: url(../images/icons/ico-new.png);
    }
  }
}
.inside-two {
  font-size: 0;
  margin: 0 auto 10px;
  article {
    @extend .clearfix;
    display: inline-block;
    width: 48%;
    height: 180px;
    margin: 0 1%;
    font-size: 14px;
    border-radius: 8px;
    position: relative;
    margin: 0 auto 10px;
    img {
      width: 180px;
      height: 180px;
      margin: 0 20px 0 0;
      float: left;
      border-radius: 8px;
    }    
  }
}
.home-block-sixth {
  font-size: 0;
  @extend .clearfix;
}
.fourth-of-five {
  width: 80%;
  font-size: 0;
  display: inline-block;
  float: left;
  h6 {
    font-size: 20px;
    font-weight: 500;
    color: #333333;
    margin: 0 0 20px;
    a{
      margin: 0 10px;
    }
  }
  a {
    color: #0066cc;
    font-size: 13px;
  }
  article {
    @extend .clearfix;
    width: 45%;
    height: 100px;
    margin: 0 5% 10px 0;
    font-size: 12px;
    display: inline-block;
    overflow: hidden;
    img {
      width: 96px;
      height: 96px;
      border: 2px solid #d4e0e8;
      float: left;
      margin: 0 10px 0 0;
      border-radius: 8px;
    }
  }
}
.one-of-five {
  width: 20%;
  font-size: 13px;
  display: inline-block;
  float: right;
  h6 {
    font-size: 20px;
    font-weight: 500;
    color: #333333;
    margin: 0 0 20px;
    a{
      margin: 0 10px;
    }
  }
  ul {
    background-color: #ecf2f5;
    padding: 15px;
    a{
      text-decoration: underline;
      margin: 0 0 10px;
      color: #0066cc;
    }
  }
}
footer {
  background-color: #dde6ea;
  margin: 0 auto;
  width: 1040px;
  padding: 20px 2%;
  font-size: 0;
  @extend .clearfix;
  aside {
    display: inline-block;
    float: left;
    font-size: 12px;
    h6 {
      color: #0066cc;
      font-size: 12px;
      text-transform: uppercase;
      margin: 0 0 10px;
    }
  }
  .widget-set-two {
    width: 32%;
    ul {
      @extend .clearfix;
      li {
        display: inline-block;
        float: left;
        width: 50%;
        padding: 0;
        margin: 0 0 5px;
        a{
          color: #333333;`
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  .widget-set-one {
    width: 16%;
  }
}